.drop-box {
  cursor: pointer;
  background: #f8f8f8;
  border: 5px dashed #ddd;
  text-align: center;
  padding: 50px;
  margin: 10px;
}

.drag-over-title {
  display: none;
}

.drop-box.dragover {
  opacity: 0.6;
}

.drop-box.dragover .drag-over-title {
  display: block;
}

.drop-box.dragover .drag-in-title {
  display: none;
}

input[type="file"] {
  display: none;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  text-align: center;
}

.margin-10 {
  margin: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  //background-color: #ddd;
}

.mat-column-name {
  max-width: 50%;
}

.mat-column-size {
  max-width: 20%;
}

.mat-column-actions {
  max-width: 30%;
  text-align: center;
}

//Expandable
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #e1e1ea;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #e1e1ea;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: block;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
