.search-button {
	margin: 0px !important;
	padding: 0px !important;
	min-width: 150%;
}

.search-button:focus {
	border: solid white 1px;
}

.info-icon {
	position: relative;
	top: 0px;
	margin-right: 5px;
	margin-top: 20px;
}
