<div class="wrapper">
    <div class="buttons-and-selectors">
        <div class="selection-buttons-container">
            <h2>
                <fa-icon [icon]="faBook"></fa-icon>
                Subjects
            </h2>
            <button class="selectionButtons" color="accent" mat-raised-button
                (click)="this.navigator.goToPage('/admin/subject-form/0')">
                <fa-icon [icon]="faPlus"></fa-icon><span class="buttonText"> New</span>
            </button>
            <button class="publishButton selectionButtons" color="warn" mat-raised-button (click)="openDialog()"
                [disabled]="isUnpublishButtonDisabled">
                <fa-icon [icon]="faTrash"></fa-icon><span class="buttonText"> Unpublish Checked</span>
            </button>
        </div>
        
        <div class="selectors-container">
            <div class="selectors">
                <h4>Choose Academy</h4>
                <mat-form-field>
                    <mat-select placeholder="Academy List" name="academies" [(ngModel)]="selectedAcademyValue">
                        <mat-option (click)="selectedAcademy(academy.id)" *ngFor="let academy of academies"
                            [value]="academy.id">
                            {{academy.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <table mat-table [dataSource]="subjectSource" matSort class="mat-elevation-z8" (click)="isAnyCheckboxSelected()">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox color="warn" (change)="$event ? masterToggle() : null; isAnyCheckboxSelected()"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" >
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox color="warn" (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null; isAnyCheckboxSelected()" 
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button class="editButton" mat-raised-button
                    (click)="this.navigator.goToPage('/admin/subject-form/' + element.id)">
                    <fa-icon [icon]="faPen"></fa-icon>
                    <span class="buttonText">
                        Edit
                    </span>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
    </table>
</div>