table {
    width: 100%;
}
  
.wrapper {
    max-width: 90%;
    margin-left: 5%;
}

.tables {
    display: flex;
    flex-direction: column;
}
  
.publishBtn {
    float: right;
    display: block;
 //   background-color: #ffe92f;
}
  
.button-icon {
	position: relative;
	top: 7px;
}

.toggle-button {
	position: relative;
}

h3 {
	text-align: start;
	margin-left: 18pt;
}


.deleteButton {
    margin-top: 10pt;
    margin-bottom: 10pt;
    display: block !important;
}
  
.buttonText {
    margin-left: 3pt;
}
    

@media screen and (max-width: 731px) {
    .button-text {
        display: none;
    }
    
    .mat-column-filename {
        word-wrap: break-word ;
        word-break: break-word;
        white-space: unset ;
        flex: 0 0 54% ;
        width: 54% ;
    }
    
    .mat-column-date {
        display: none;
    }
    
    .mat-column-unpublishDate {
        white-space: nowrap;
        flex: 0 0 14% ;
        width: 14% ; 
    }
    
    .mat-column-actions {
        white-space: nowrap;
        flex: 0 0 32% ;
        width: 32% ; 
    }
    
    .deleteBtn {
        margin-left: 3px;
    }
    
    .publishBtn {
        margin-left: 3px;
    }
}
