<div class="wrapper">
    <div class=select-buttons>
        <button class="publishSelectedButton" color="accent" mat-raised-button (click)="openSelectionDialog('publish')"
            [disabled]="isSelectionButtonsDisabled">
            <fa-icon [icon]="faFileMedical"></fa-icon><span class="buttonText"> Publish Selected</span>
        </button>

        <button class="deleteSelectedButton" color="warn" mat-raised-button (click)="openSelectionDialog('delete')"
            [disabled]="isSelectionButtonsDisabled">
            <fa-icon [icon]="faTrash"></fa-icon><span class="buttonText"> Delete Selected</span>
        </button>

    </div>

    <!-- Exam Table -->

    <div class="tables">
        <button class="toggle-button" mat-button (click)="toggleExamTable()">
            <h3>
                Exams ({{exams.length}})
                <mat-icon *ngIf="!showExams" mat-suffix class="button-icon">expand_more</mat-icon>
                <mat-icon *ngIf="showExams" mat-suffix class="button-icon">expand_less</mat-icon>
            </h3>
        </button>

        <div *ngIf="showExams">
            <table mat-table [dataSource]="exams" class="mat-elevation-z8">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="warn" (change)="$event ? masterExamToggle() : null"
                            [checked]="examSelection.hasValue() && isAllExamsSelected()"
                            [indeterminate]="examSelection.hasValue() && !isAllExamsSelected()" >
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox color="warn" (click)="$event.stopPropagation()"
                            (change)="$event ? examSelection.toggle(row) : null; isAnyCheckboxSelected()"
                            [checked]="examSelection.isSelected(row)" >
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="filename">
                    <th mat-header-cell *matHeaderCellDef> Filename </th>
                    <td mat-cell *matCellDef="let exam" class="variant-exam-column"> {{exam.filename}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let exam" class="firm-exam-column"> {{exam.date}} </td>
                </ng-container>

                <ng-container matColumnDef="unpublishDate">
                    <th mat-header-cell *matHeaderCellDef> Unpublish Date </th>
                    <td mat-cell *matCellDef="let exam" class="firm-exam-column"> {{exam.unpublishDate}} </td>
                </ng-container>

                <ng-container matColumnDef="courseName">
                    <th mat-header-cell *matHeaderCellDef> Course Name </th>
                    <td mat-cell *matCellDef="let exam" class="variant-exam-column"> {{exam.courseName}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element" class="actions">
                        <div class="singleButtons">
                            <button mat-raised-button color="accent" (click)="openSingleElementDialog(element, 'publish')" class="publishBtn">
                                <fa-icon [icon]="faFileMedical"></fa-icon>
                                <span class="button-text"> Publish</span>
                            </button>

                            <button mat-raised-button color="warn" (click)="openSingleElementDialog(element, 'delete')" class="deleteBtn">
                                <fa-icon [icon]="faTrash"></fa-icon>
                                <span class="button-text"> Delete</span>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedExamColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedExamColumns;"></tr>
            </table>
        </div>

        <!-- Course Table -->

        <button class="toggle-button" mat-button (click)="toggleCourseTable()">
            <h3>
                Courses ({{courses.length}})
                <mat-icon *ngIf="!showCourses" mat-suffix class="button-icon">expand_more</mat-icon>
                <mat-icon *ngIf="showCourses" mat-suffix class="button-icon">expand_less</mat-icon>
            </h3>
        </button>

        <div *ngIf="showCourses">
            <table mat-table [dataSource]="courses" class="mat-elevation-z8">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="warn" (change)="$event ? masterCourseToggle() : null"
                            [checked]="courseSelection.hasValue() && isAllCoursesSelected()"
                            [indeterminate]="courseSelection.hasValue() && !isAllCoursesSelected()"
                            >
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox color="warn" (click)="$event.stopPropagation()"
                            (change)="$event ? courseSelection.toggle(row) : null; isAnyCheckboxSelected()"
                            [checked]="courseSelection.isSelected(row)" >
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef > Name </th>
                    <td mat-cell *matCellDef="let course"  class="variant-course-column"> {{course.name}} </td>
                </ng-container>

                <ng-container matColumnDef="courseCode">
                    <th mat-header-cell *matHeaderCellDef> Course Code </th>
                    <td mat-cell *matCellDef="let course" class="firm-course-column"> {{course.courseCode}} </td>
                </ng-container>

                <ng-container matColumnDef="subjectName">
                    <th mat-header-cell *matHeaderCellDef> Subject Name </th>
                    <td mat-cell *matCellDef="let course" class="variant-course-column"> {{course.subjectName}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element" class="actions">
                        <div class="singleButtons">
                            <button mat-raised-button color="accent" (click)="openSingleElementDialog(element, 'publish')" class="publishBtn">
                                <fa-icon [icon]="faFileMedical"></fa-icon>
                                <span class="button-text"> Publish</span>
                            </button>

                            <button mat-raised-button color="warn" (click)="openSingleElementDialog(element, 'delete')" class="deleteBtn">
                                <fa-icon [icon]="faTrash"></fa-icon>
                                <span class="button-text"> Delete</span>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedCourseColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedCourseColumns;"></tr>
            </table>
        </div>

        <!-- Subject Table -->

        <button class="toggle-button" mat-button (click)="toggleSubjectTable()">
            <h3>
                Subjects ({{subjects.length}})
                <mat-icon *ngIf="!showSubjects" mat-suffix class="button-icon">expand_more</mat-icon>
                <mat-icon *ngIf="showSubjects" mat-suffix class="button-icon">expand_less</mat-icon>
            </h3>
        </button>

        <div *ngIf="showSubjects">
            <table mat-table [dataSource]="subjects" class="mat-elevation-z8">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="warn" (change)="$event ? masterSubjectToggle() : null"
                            [checked]="subjectSelection.hasValue() && isAllSubjectsSelected()"
                            [indeterminate]="subjectSelection.hasValue() && !isAllSubjectsSelected()"
                            >
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox color="warn" (click)="$event.stopPropagation()"
                            (change)="$event ? subjectSelection.toggle(row) : null; isAnyCheckboxSelected()"
                            [checked]="subjectSelection.isSelected(row)" >
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let subject" class="variant-subject-column"> {{subject.name}} </td>
                </ng-container>

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Code </th>
                    <td mat-cell *matCellDef="let subject" class="variant-firm-column"> {{subject.code}} </td>
                </ng-container>

                <ng-container matColumnDef="academyName">
                    <th mat-header-cell *matHeaderCellDef> Academy Name </th>
                    <td mat-cell *matCellDef="let subject" class="variant-subject-column"> {{subject.academyName}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element" class="actions">
                        <div class="singleButtons">
                            <button mat-raised-button color="accent" (click)="openSingleElementDialog(element, 'publish')" class="publishBtn">
                                <fa-icon [icon]="faFileMedical"></fa-icon>
                                <span class="button-text"> Publish</span>
                            </button>

                            <button mat-raised-button color="warn" (click)="openSingleElementDialog(element, 'delete')" class="deleteBtn">
                                <fa-icon [icon]="faTrash"></fa-icon>
                                <span class="button-text"> Delete</span>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedSubjectColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedSubjectColumns;"></tr>
            </table>
        </div>

        <!-- Academy Table -->

        <button class="toggle-button" mat-button (click)="toggleAcademyTable()">
            <h3>
                Academies ({{academies.length}})
                <mat-icon *ngIf="!showAcademies" mat-suffix class="button-icon">expand_more</mat-icon>
                <mat-icon *ngIf="showAcademies" mat-suffix class="button-icon">expand_less</mat-icon>
            </h3>
        </button>

        <div *ngIf="showAcademies">
            <table mat-table [dataSource]="academies" class="mat-elevation-z8">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="warn" (change)="$event ? masterAcademyToggle() : null"
                            [checked]="academySelection.hasValue() && isAllAcademiesSelected()"
                            [indeterminate]="academySelection.hasValue() && !isAllAcademiesSelected()"
                            >
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox color="warn" (click)="$event.stopPropagation()"
                            (change)="$event ? academySelection.toggle(row) : null; isAnyCheckboxSelected()"
                            [checked]="academySelection.isSelected(row)" >
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let academy" class="variant-academy-column"> {{academy.name}} </td>
                </ng-container>

                <ng-container matColumnDef="abbreviation">
                    <th mat-header-cell *matHeaderCellDef> Abbreviation </th>
                    <td mat-cell *matCellDef="let academy" class="firm-academy-column"> {{academy.abbreviation}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element" class="actions">
                        <div class="singleButtons">
                            <button mat-raised-button color="accent" (click)="openSingleElementDialog(element, 'publish')" class="publishBtn">
                                <fa-icon [icon]="faFileMedical"></fa-icon>
                                <span class="button-text"> Publish</span>
                            </button>

                            <button mat-raised-button color="warn" (click)="openSingleElementDialog(element, 'delete')" class="deleteBtn">
                                <fa-icon [icon]="faTrash"></fa-icon>
                                <span class="button-text"> Delete</span>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedAcademyColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedAcademyColumns;"></tr>
            </table>
        </div>