<div>
    <table tabindex="0" mat-table [dataSource]="data" class="full-width-table mat-elevation-z4">
        <ng-container matColumnDef={{shortHeader}}>
            <th class="short-column" mat-header-cell *matHeaderCellDef (click)="sortByDescription()">{{shortHeader}}</th>
            <td class="short-column" mat-cell *matCellDef="let row">{{row.shortDesc}}</td>
        </ng-container>
        <ng-container matColumnDef={{name}}>
            <th class="long-column" mat-header-cell *matHeaderCellDef (click)="sortByName()">{{name}}</th>
            <td class="long-column" mat-cell *matCellDef="let row">
                {{row.name}}
                <fa-icon class="icon" [icon]='icon'></fa-icon>
            </td>
        </ng-container>
        <!--Används för att veta vilka komponenter som ska visas (de ovan)-->

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr tabindex="0" class="link" mat-row *matRowDef="let row; columns: columnsToDisplay" 
        (click)="rowClicked(row)" (keyup.enter)="rowClicked(row)">
            <a  attr.aria-label='{{actionDescription}}'></a>
        </tr>
    </table>
</div>