.full-width-table {
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
	padding: 0px !important;
	border-radius: 0px !important;
}

.icon {
	margin-left: 3px;
}

td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color: #f5f5f5;
}

.short-column {
	width: 25%;
}

.long-column {
	width: 75%;
}

.link {
	&:hover {
		cursor: pointer;
	}
}
