<span>
    <div class="btn-wrapper">
        <a mat-button matTooltip="Go to homepage" class="link-btn" (click)="this.navigator.goToPage('/')">
            <span class="content-button"> 
                <div class="icon2">
                    <fa-icon [icon]="faHome"></fa-icon>
                </div>
                <div class="icon">
                    <fa-icon [icon]="faGripLinesVertical"></fa-icon>
                </div>
            </span>
        </a>
    </div>

    <div *ngIf="academy != null" class="btn-wrapper">
        <a mat-button matTooltip="{{academy.name}}" class="link-btn" (click)="this.navigator.goToPage('/subjects/academy/' + academy.id)">
            <span class="content-button">
                <div>
                    {{academy.abbreviation}}
                </div>
                <div class="icon">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </div>
            </span>
        </a>
    </div>

    <div *ngIf="subject != null" class="btn-wrapper">
        <a mat-button matTooltip="{{subject.name}}" class="link-btn" (click)="this.navigator.goToPage('/courses/subject/' + subject.id)">
            <span class="content-button">
                <div>
                    {{subject.code}}
                </div>
                <div class="icon">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </div>
            </span>
        </a>
    </div>

    <div *ngIf="course != null" class="btn-wrapper">
        <a mat-button matTooltip="{{course.name}}" class="link-btn" (click)="this.navigator.goToPage('/exams/course/' + course.id)">
            <span class="content-button">
                <div>
                    {{course.courseCode}}
                </div>
                <div class="icon">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </div>
            </span>
        </a>
    </div>
</span>