.content-button{
    display: flex;
    justify-content: space-between;
  
}
.btn-wrapper{
    display: inline;
}
.icon{
    margin-left: 5pt;
    font-size: 20pt;
}

.link-btn{
    min-width: 1%;
    margin-top: 3pt;
    margin-right: 1pt;
    padding: 1pt !important;
}
