table {
  width: 100%;
}

.wrapper {
  max-width: 90%;
  margin-left: 5%;
}

.newButton {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.editButton {
  float: right;
  background-color: #ffad00;
}

.deleteButton {
  margin-left: 10pt;
}

.buttonText {
  margin-left: 3pt;
}
  