<mat-toolbar color="primary" style="padding-top: 50px; padding-bottom: 50px;">
        <img src="../../assets/HiG_vit_text.svg" style="max-block-size: 50pt; position: fixed; right: 30pt; " id="logo" class="logo">
    <mat-toolbar-row>










        
        <div *ngIf="isHandset$ | async; then mobile else desktop"></div>
        <ng-template #mobile>
            <h1 style="margin-left: 10px;">Exam Centre</h1>
        </ng-template>
        <ng-template #desktop>
            <h1 style="margin-left: 55px;">Exam Centre</h1>
        </ng-template>


        <h1>Login</h1>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <div *ngIf="isHandset$ | async; then mobile else desktop"></div>
        <ng-template #mobile2>
            <div *ngFor="let academy of academies">
                <h1 style="margin-left: 10px;">{{academy}}</h1>
            </div>
        </ng-template>
        <ng-template #desktop2>
            <div *ngFor="let academy of academies">
                <button mat-button style="margin-left: 10px;">{{academy}}</button>
            </div>
        </ng-template>

    </mat-toolbar-row>


</mat-toolbar>