


<mat-toolbar color="primary" class="total-bar">

    <!-- Row for Login and help.-->
    <mat-toolbar-row class="row top">
        <span></span>
        <span class="example-fill-remaining-space"></span>
        <span>
            <div class="right-container">
                <h1 class="login">Login</h1>
            </div>

        </span>
    </mat-toolbar-row>

    <!-- Row for Logo and Academy.-->
    <mat-toolbar-row class="row bottom" >
        <span>
            <div> 
                <img src="../../assets/HiG_vit_text.svg" id="logo" class="logo" style="background-color: black;">
            </div>
        </span>

        <span class="example-fill-remaining-space academies">
            <div class="flex-container">
                <button mat-button class="button" *ngFor="let academy of academies">{{academy}}</button>
            </div>
        </span>
        <span></span>
    </mat-toolbar-row>
</mat-toolbar> 

        <p>herroe</p>


