table {
    width: 100%;
}

.buttons-and-selectors {
    display: flex;
    flex-direction: row;
}
    
.selection-buttons-container {
    margin-top: 32pt;
    margin-right: 40pt;
}

.selectionButtons {
    margin-right: 10pt;
    margin-top: 10pt;
}

.selectors-container {
    display: flex;
    flex-direction: row;
}

.selectors {
    flex-direction: column;
    margin-right: 10pt;
}

.editButton {
    float: right;
    background-color: #ffe92f;
}
  
.buttonText {
    margin-left: 3pt;
}

.column {
    width: 20%
}

@media screen and (max-width: 1430px) {
    .selection-buttons-container {
        margin-top: 32pt;
        margin-right: 0pt;
    }
}

@media screen and (max-width: 1370px) {
    .buttons-and-selectors {
        flex-direction: column;
    }

    .selectors-container {
        display: flex;
        flex-direction: row;
    }
}