<mat-form-field>
<div style="text-align: center; margin-top: 50px;">
<form [formGroup]="checkoutForm" (ngSubmit)="login(checkoutForm.value)">

        <label for="=username">Username:<br></label>
        <input type="text" id="username" name="username" formControlName="username" required><br>
        <label for="password">Password:<br></label>
        <input type="password" id="password" name="password" formControlName="password" required><br>
    <button class="button" type="submit">Log in</button>
</form>
</div>
</mat-form-field>