<div class="wrapper">
    <h2 *ngIf="id == 0">New Exam</h2>
    <h2 *ngIf="id > 0">Edit Exam</h2>

    <form fxLayout="column" [formGroup]="form" class="example-form" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <mat-label for="filename">Filename</mat-label>
            <input matInput id="filename" required type="text" formControlName="filename"
                placeholder="Ex. Datorsystem, Linjär algebra">
        </mat-form-field>

        <mat-form-field>
            <mat-label for="date">Date</mat-label>
            <input matInput id="date" required type="text" formControlName="date" placeholder="Ex. DVG324, MAG051"
                size="100pt">
        </mat-form-field>

        <mat-form-field>
            <mat-label for="unpublishDate">Unpublish Date</mat-label>
            <input matInput id="unpublishDate" required type="text" formControlName="unpublishDate"
                placeholder="Ex. DVG324, MAG051" size="100pt">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Course list</mat-label>
            <mat-select formControlName="course" name="courses" class="select">
                <mat-option required placeholder="Course list" *ngFor="let course of courses" [value]="course.id">
                    {{course.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button mat-raised-button color="accent" [disabled]="!form.valid" type="submit" class="btn btn-primary">Save
            </button>

            <button mat-raised-button class="btn btn-primary" class="cancelButton"
                (click)="this.navigator.goToPage('/admin/admin-handler/')">
                Cancel
            </button>
        </div>

    </form>
</div>