<div class="wrapper">
    <h2>Edit Exam</h2>

    <form fxLayout="column" [formGroup]="form" class="example-form" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <mat-label>Faculty list</mat-label>
            <mat-select formControlName="academy" name="academies" class="select">
                <mat-option required (click)="selectedAcademy(academy.id)" placeholder="Faculty list"
                    *ngFor="let academy of academies" [value]="academy.id">
                    {{academy.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Subject list</mat-label>
            <mat-select formControlName="subject" name="subjects" class="select">
                <ng-container
                    *ngIf="subjectsFilteredByAcademyId && subjectsFilteredByAcademyId.length > 0; then subjectsAvailable; else subjectsUnavailable">
                </ng-container>
                <ng-template #subjectsAvailable>
                    <mat-option required placeholder="Subject List" *ngFor="let subject of subjectsFilteredByAcademyId"
                        [value]="subject.id" (click)="selectedSubject(subject.id)">
                        {{subject.name}}
                    </mat-option>
                </ng-template>
                <ng-template #subjectsUnavailable>
                    <mat-option [value]="0">No subjects available</mat-option>
                </ng-template>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Course list</mat-label>
            <mat-select formControlName="course" name="courses" class="select">
                <ng-container
                    *ngIf="coursesFilteredBySubjectId && coursesFilteredBySubjectId.length > 0; then coursesAvailable; else coursesUnavailable">
                </ng-container>
                <ng-template #coursesAvailable>
                    <mat-option required placeholder="Course list" *ngFor="let course of coursesFilteredBySubjectId"
                        [value]="course.id">
                        {{course.name}}
                    </mat-option>
                </ng-template>
                <ng-template #coursesUnavailable>
                    <mat-option [value]="0">No courses available</mat-option>
                </ng-template>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label for="filename">Filename</mat-label>
            <input matInput id="filename" required type="text" formControlName="filename"
                placeholder="Ex. Datorsystem, Linjär algebra">
        </mat-form-field>
        
        <div class="datePicker">
            <mat-form-field>
                <mat-label for="date">Date</mat-label>
                <input matInput required [matDatepicker]="datePicker" formControlName="date">
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        </div>

        <div class="datePicker">
            <mat-form-field>
                <mat-label for="unpublishDate">Unpublish Date</mat-label>
                <input matInput required [matDatepicker]="unpublishDatePicker" formControlName="unpublishDate">
                <mat-datepicker #unpublishDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-datepicker-toggle matSuffix [for]="unpublishDatePicker"></mat-datepicker-toggle>
        </div>

        <div>
            <button mat-raised-button color="accent" [disabled]="!form.valid" type="submit" class="btn btn-primary">Save
            </button>

            <ng-container *ngIf="!returnNav; then returnToHandler; else returnToOutbox">
            </ng-container>
            <ng-template #returnToHandler>
                <button mat-raised-button class="btn btn-primary" class="cancelButton"
                    (click)="this.navigator.goToPage('/admin/exam-handler/')">
                    Cancel
                </button>
            </ng-template>
            <ng-template #returnToOutbox>
                <button mat-raised-button class="btn btn-primary" class="cancelButton"
                    (click)="this.navigator.goToPage('/admin/outbox/')">
                    Cancel
                </button>
            </ng-template>
        </div>

    </form>
</div>