<div class="content-container">
    <h1 *ngIf="courseLoaded">Exams in course {{course.name}}</h1>
    <app-list (clicked)="openPdf($event)" [actionDescription]='actionDescription' [icon]='icon' [data]="data" [shortHeader]="shortHeader"
        [name]="name"></app-list>
</div>

<div id="info-float">
    <div>
        <button mat-button *ngIf="!showingInfoMessage; else adblockInfo" (click)="toggleInfoMessage();">
            <span>
                <fa-icon [icon]='faInfoCircle'></fa-icon>
                Can't open PDFs?
            </span>
        </button>

        <ng-template #adblockInfo>
            <div id="adblock-info" class="mat-body">
                <button mat-button id="close-button" (click)="toggleInfoMessage();">
                    <span>
                        <fa-icon [icon]='faWindowClose'></fa-icon>
                        Close
                    </span>
                </button>
                If you can't open PDFs on this site, you're probably using adblocking software. Disable adblocker, refresh the page and try again.
            </div>
        </ng-template>
    </div>
</div>