.content-container {
	max-width: 70%;
	margin-left: 15%;
}

h1 {
	text-align: start;
	margin-left: 18pt;
}

#info-float {
	background-color: rgba($color: #ffffff, $alpha: 1);
	display: flex;
	flex-direction: row;
	position: fixed;
	right: 2%;
	bottom: 5%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	font-size: 14px;
}

#adblock-info {
	max-width: 200px;
	word-wrap: break-word;
	padding: 5pt;
}

#close-button {
	float: right;
	padding: 0px 5px;
}

#info-text {
	@media only screen and (max-width: 652px) {
		font-size: 0px;
	}
}

#info-button {
	@media only screen and (max-width: 652px) {
		padding: 0px;
		max-height: 40px;
		max-width: 40px;
		min-height: 40px;
		min-width: 40px;
	}
}

#info-icon {
	margin-right: 10px;
	font-size: 20px;
	@media only screen and (max-width: 652px) {
		margin-right: 0px;
		width: 100%;
	}
}
