<div style="padding-bottom: 60px;" class="content-container">
    <app-navigator [courseId]="courseId"></app-navigator>
    <h1 *ngIf="courseLoaded">Exams in course {{course.name}}</h1>
    <app-list (clicked)="openPdf($event)" [actionDescription]='actionDescription' [icon]='icon' [data]="data" [shortHeader]="shortHeader"
        [name]="name"></app-list>
</div>

<div id="info-float">
    <div>
        <button id="info-button" mat-button *ngIf="!showingInfoMessage; else adblockInfo" (click)="toggleInfoMessage();">
            <span>
                <fa-icon id="info-icon" [icon]='faInfoCircle'></fa-icon>
                <span id="info-text">Can't open PDFs?</span>
            </span>
        </button>

        <ng-template #adblockInfo>
            <div id="adblock-info" class="mat-body">
                <button mat-raised-button color="primary" class="btn btn-primary" id="close-button" (click)="toggleInfoMessage();">
                    <span>
                        <fa-icon [icon]='faWindowClose'></fa-icon>
                        Close
                    </span>
                </button>
                If you can't open PDFs on this site, you're probably using adblocking software. Disable adblocker, refresh the page and try again.
            </div>
        </ng-template>
    </div>
</div>