<div class="wrapper">
  <h2>
    <fa-icon [icon]="faCog"></fa-icon>
    App Settings
  </h2>

  <mat-form-field class="full-width">
    <mat-select placeholder="Settings" [(ngModel)]="selectedValue" name="settingsList">
      <mat-option *ngFor="let setting of settingsList" [value]="setting" (click)="setFormControls(setting)">
        {{ setting.created | date:'yyyy-MM-dd HH:mm:ss' }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <form fxLayout="column" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

    <mat-form-field>
      <mat-label for="cookieSessionMinutes">Cookie Session Length (minutes)</mat-label>
      <input matInput id="cookieSessionMinutes" required type="number" formControlName="cookieSessionMinutes"
        placeholder="Cookie Session Length">
    </mat-form-field>

    <mat-form-field>
      <mat-label for="unpublishTimeYears">Unpublish time (years)</mat-label>
      <input matInput id="unpublishTimeYears" required type="number" formControlName="unpublishTimeYears"
        placeholder="Time until an exam becomes unpublished..." size="100pt">
    </mat-form-field>

    <mat-form-field>
      <mat-label for="homePageHtml">Home Page Html</mat-label>
      <textarea cdkTextareaAutosize matInput id="homePageHtml" required type="text" formControlName="homePageHtml"
        placeholder="Insert HTML code here..." size="100pt"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="aboutPageHtml">About Page Html</mat-label>
      <textarea cdkTextareaAutosize matInput id="aboutPageHtml" required type="text" formControlName="aboutPageHtml"
        placeholder="Insert HTML code here..." size="100pt"></textarea>
    </mat-form-field>

    <button mat-raised-button color="accent" [disabled]="!form.valid" type="submit" class="btn btn-primary">Save</button>
  </form>
</div>