<div style="height: 100vh;">
    <mat-toolbar color="primary" class="total-bar">
        <!-- Row for Login and help.-->
        <mat-toolbar-row class="row top">
            <span></span>
            <span class="example-fill-remaining-space"></span>
            <span>
                <div fxShow="true" fxHide.lt-md="true" class="right-container">
                    <a class="login" mat-button>About</a>
                    <a class="login" mat-button>Login (Admin)</a>
                </div>
            </span>
        </mat-toolbar-row>
        <!-- Row for Logo and Academy.-->
        <mat-toolbar-row class="row bottom">
            <span>
                <div fxShow="true" fxHide.lt-md="true">
                    <img src="../../assets/HiG_vit_text.svg" id="logo" class="logo" style="background-color: black;"
                        alt="University of Gävle logo">
                </div>
                <div fxShow="true" fxHide.gt-sm="true">
                    <img src="../../assets/HiG_vit_text.svg" id="logo-small" class="logo-small"
                        style="background-color: black;" alt="University of Gävle logo">
                </div>
            </span>
            <span class="example-fill-remaining-space academies">
                <div fxShow="true" fxHide.lt-md="true">
                    <div class="flex-container">
                        <button (click)="goToPage('/academy/'+ academy.id)" mat-button class="button"
                            *ngFor="let academy of academies">{{academy.shortDesc}}</button>
                    </div>
                </div>
            </span>
            <span>
                <div fxShow="true" fxHide.gt-sm="true">
                    <button type="button" class="navigation-button" aria-label="Toggle sidenav" mat-icon-button
                        (click)="sidenav.toggle()">
                        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    </button>
                </div>
                <div style="margin-top: 40pt;">
                    <mat-form-field class="search-container" [style.fontSize.px]=15>
                        <input class="search-field" type="text" matInput placeholder="Search">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill>
        <router-outlet></router-outlet>
        <mat-sidenav #sidenav fxLayout="column" class="sidenav-container">
            <div fxLayout="column">
                <a class="sidenav-links" (click)="goToPage('/academy/'+ academy.id)" *ngFor="let academy of academies"
                    mat-button>{{academy.shortDesc}}</a>
                <a mat-button>Login (Admin)</a>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</div>