.example-fill-remaining-space {
	flex: 1 1 auto;
}
.academies {
	max-height: 30pt;
	color: white;
	margin-right: 25pt;
}
.logo {
	position: absolute;
	margin-top: 15pt;
	margin-left: 20pt;
	width: 70pt;
}

.start-alignment{
	margin-left: 140pt;
}

.right-container {
	margin-right: 40pt;
}
.flex-container {
	display: flex;
	flex-direction: row;
	margin-top: 20pt;
}
.row {
	max-height: 10pt;
	background-color: rgba($color: #000000, $alpha: 1);
	padding-bottom: 40pt;
}
.button {
	border-radius: 0pt;
}
.button:hover {
	background-color: #0072bc;
}
.login {
	margin-top: 50pt;
}
.total-bar {
	background-color: rgba($color: #ffffff, $alpha: 0);
}
.bottom {
	background-color: black;
	padding-bottom: 42pt;
	padding-top: 5pt;
}
body {
	min-height: max-content;
}
.search-container {
	position: absolute;
	right: 10pt;
	top: 45pt;
}
.sidenav-container {
	min-width: 150pt;
}
.navigation-button {
	position: relative;
	top: 20pt;
}

.page-header{
	margin-top: 50pt;
	font-size: x-large;
}

.search-box {
	margin-top: 40pt;
	@media only screen and (max-width: 420px) {
		display: none;
	}
}

.xs-search-box {
	display: none;
	padding-top: 4pt;
	padding-bottom: 12pt;

	@media only screen and (max-width: 420px) {
		display: flex;
		justify-content: flex-end;
	}

	@media only screen and (min-width: 420px) {
		display: none;
	}
}
