<div style="margin: 10px; margin-bottom: 5px;">
    <h1>
        <fa-icon [icon]="faCog" style="margin-right: 5pt;"></fa-icon>Administration
    </h1>
    <button mat-raised-button color="accent">
        <fa-icon [icon]="faUserPlus" style="margin-right: 5pt;"></fa-icon>Add Administrator
    </button>

    <div style="margin-top: 35px;">
        <mat-form-field style="display: block;">
            <input matInput #message maxlength="256" placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

</div>
<app-table></app-table>