button {
    max-width: 100pt;
}

mat-form-field input {
    font-size: 15pt;
}

mat-label {
    font-size: 15pt;
}

.select{
    font-size: 15pt;
}

h2 {
    font-size: 25px;
}

.button {
   margin-left: 20pt;
}

.tagButton {
    float: right;
}
