<div class="wrapper">
    <h2 *ngIf="id == 0">New Course</h2>
    <h2 *ngIf="id > 0">Edit Course</h2>

    <form fxLayout="column" [formGroup]="form" class="example-form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Academy list</mat-label>
            <mat-select formControlName="academy" name="academies" class="select">
                <mat-option required (click)="selectedAcademy(academy.id)" placeholder="Academy list"
                    *ngFor="let academy of academies" [value]="academy.id">
                    {{academy.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Subject list</mat-label>
            <mat-select formControlName="subject" name="subjects" class="select">
                <mat-option required (click)="selectedSubject(subject)" placeholder="Subject List"
                    *ngFor="let subject of subjects" [value]="subject.id">
                    {{subject.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label for="courseCode">Course code</mat-label>
            <input matInput id="courseCode" required type="text" formControlName="courseCode" placeholder="{{subjectCode}}      Ex. DVG324, MAG051"
                size="100pt">
        </mat-form-field>

        <mat-form-field>
            <mat-label for="name">Name</mat-label>
            <input matInput id="name" required type="text" formControlName="name"
                placeholder="Ex. Datorsystem, Linjär algebra">
        </mat-form-field>

        <div>
            <button mat-raised-button color="accent" [disabled]="!form.valid" type="submit" class="btn btn-primary">
                Save
            </button>

            <ng-container *ngIf="!returnNav; then returnToHandler; else returnToOutbox">
            </ng-container>
            <ng-template #returnToHandler>
              <button mat-raised-button class="btn btn-primary" class="cancelButton"
                (click)="this.navigator.goToPage('/admin/course-handler/')">
                Cancel
              </button>
            </ng-template>
            <ng-template #returnToOutbox>
              <button mat-raised-button class="btn btn-primary" class="cancelButton"
                (click)="this.navigator.goToPage('/admin/outbox/')">
                Cancel
              </button>
            </ng-template>
        </div>
    </form>
</div>