<div class="wrapper">
    <h2 *ngIf="id == 0">New Subject</h2>
    <h2 *ngIf="id > 0">Edit Subject</h2>

    <form fxLayout="column" [formGroup]="form" class="example-form" (ngSubmit)="onSubmit(form.value)">
        <mat-form-field>
            <mat-label>Academy list</mat-label>
            <mat-select formControlName="academy" name="academies">
                <mat-option required (click)="selectedAcademy(academy.id)" placeholder="Academy list"
                    *ngFor="let academy of academies" [value]="academy.id">
                    {{academy.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label for="code">Code</mat-label>
            <input matInput id="code" required type="text" formControlName="code" placeholder="Ex. MA, DI" size="100pt">
        </mat-form-field>

        <mat-form-field>
            <mat-label for="name">Name</mat-label>
            <input matInput id="name" required type="text" formControlName="name" placeholder="Ex. Matematik, Didaktik">
        </mat-form-field>

        <div>
            <button mat-raised-button color="accent" [disabled]="!form.valid" type="submit"
                class="btn btn-primary">Save</button>
            <button mat-raised-button class="btn btn-primary" class="cancelButton"
                (click)="this.navigator.goToPage('/admin/subject-handler/')">
                Cancel
            </button>
        </div>
    </form>
</div>