<div class="wrapper">
  <h2>{{titleText}}</h2>
  <form fxLayout="column" [formGroup]="form" class="example-form" (ngSubmit)="onSubmit(form.value)">
      <mat-form-field>
          <mat-label for="name">Username</mat-label>
          <input matInput id="name" required type="text" formControlName="name" placeholder="Ex. tenta"
              size="100pt">
      </mat-form-field>

      <mat-form-field>
          <mat-label>Is Super User</mat-label>
          <mat-select [(value)]="isSuperUserSelector" formControlName="isSuperUser" class="select">
              <mat-option *ngFor="let bool of boolean" [value]="bool.value">
                  {{bool.viewValue}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <div>
          <button mat-raised-button color="accent" [disabled]="!form.valid" type="submit" class="btn btn-primary">
              {{buttonText}}
          </button>
          
          <button mat-raised-button class="btn btn-primary" class="cancelButton"
              (click)="this.navigator.goToPage('/admin/admin-handler/')" >
              Cancel
          </button>
      </div>
  </form>
</div>