table {
    width: 100%;
}
 
.editButton {
    float: right;
    background-color: #ffe92f;
}
.selection-buttons-container {
    margin-bottom: 14.5pt;
}
.selectionButtons {
	margin-right: 10pt;
}

h2 {
    margin-bottom: 10pt;
}

.buttonText {
    margin-left: 3pt;
}


    