/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

simple-snack-bar span {
  margin:auto;
  text-align: center;
}

.wrapper {
  max-width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.content-container{
  max-width: 70%;
  margin-left: 15%;
}