<div>
    <table mat-table [dataSource]="exams" class="full-width-table">
        
        <ng-container matColumnDef="filename">
            <th mat-header-cell *matHeaderCellDef> Filename </th>
            <td mat-cell *matCellDef="let exam"> {{exam.fileName}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let exam"> {{exam.date}} </td>
        </ng-container>  
      
        <ng-container matColumnDef="unpublishDate">
            <th mat-header-cell *matHeaderCellDef> Unpublish Date </th>
            <td mat-cell *matCellDef="let exam"> {{exam.unpublishDate}} </td>
        </ng-container>  

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
<!--
        <ng-container matColumnDef="modify">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let subject">
                <a mat-list-item [routerLink]="['file-upload']" class="floated" style="text-decoration: none">
                    <fa-icon [icon]="faEdit" style="margin-right: 5pt;"> Publish </fa-icon>Publish</a>
                <a mat-list-item [routerLink]="['file-upload']" class="floated" style="text-decoration: none">
                    <fa-icon [icon]="faTrash" style="margin-right: 5pt;"></fa-icon>Delete</a> -->
                <button mat-raised-button color="accent" (click)="publishExam(element)" class="margin-left-10"  style="margin-right: 5pt;">
                    <fa-icon [icon]="faFileMedical"></fa-icon> Publish
                </button >
                <button mat-raised-button color="warn" (click)="deleteExam(element)" class="margin-left-10">
                    <fa-icon [icon]="faTrash"></fa-icon> Delete
                </button>
            </td>
        </ng-container> 

<!--        <mat-icon class="mat-icon-rtl-mirror" svgIcon="edit-24px"></mat-icon> 
    -->


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        
    </table>
</div>