<div *ngIf="!(isHandset$ | async); then webBrowser else mobileBrowser"></div>
<ng-template #webBrowser>
</ng-template>
<ng-template #mobileBrowser>
    <mat-toolbar color="accent">
        <mat-toolbar-row>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</ng-template>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-nav-list>

            <div *ngFor="let academy of academies">
                <a mat-list-item>{{ academy.name }}</a>
                <!--<a mat-list-item>{{ academy.abbreviation }}</a>-->
                <mat-divider></mat-divider>
            </div>
            <a mat-list-item [routerLink]="['file-upload']"><fa-icon [icon]="faUpload" style="margin-right: 5pt;"></fa-icon>Upload Exams</a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['admin']"><fa-icon [icon]="faCog" style="margin-right: 5pt;"></fa-icon>Administer Users</a>
            <mat-divider></mat-divider>
            <app-logout></app-logout>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>