<div *ngIf="!(isHandset$ | async); then webBrowser else mobileBrowser"></div>
<ng-template #webBrowser>
</ng-template>
<ng-template #mobileBrowser>
    <mat-toolbar color="accent">
        <mat-toolbar-row>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</ng-template>
<mat-sidenav-container class="sidenav-container"  (swipeleft)="drawer.close()" (swiperight)="drawer.open()">
    <mat-sidenav #drawer mode="side" class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-nav-list>

            <a mat-list-item [routerLink]="['file-upload']">
                <fa-icon [icon]="faUpload" style="margin-right: 5pt;"></fa-icon>Upload Exams
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['admin']">
                <fa-icon [icon]="faUsersCog" style="margin-right: 5pt;"></fa-icon>Administer Users
            </a>
            
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
